<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
<h1>Страница с загадками, которые вы никогда не разгадаете</h1>
<h2>И вот почему...</h2>
<p>
    Каждая загадка пропускается через несколько рандомных языковых переводов
    и вновь переводится на русский язык. Учитывая, что загадки сами по себе
    бывают сложными, нелогичными или просто не соответствующими текущей эпохе,
    то в данном случае найти какое-то зерно смысла невероятно сложно. С
    другой стороны, они получаются весьма забавными. Особенно если их
    сравнивать с оригиналом. Попробуйте! Возможно они не покажутся вам такими
    бессмысленными, какими показались мне. Языки переводчика выбираются
    случайным образом и каждый раз загадки будут получаться немного другими.
    Или не немного, а совсем другими.
</p>
<div style="border: 2px black solid">
    <a href="{% url 'riddles_page:riddles' %}"><p style="border: 2px black solid">Попробовать!</p></a>
</div>
</body>
</html>