<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ну и загадки же здесь!</title>
  </head>
  <body>
    <h1>Попробуем-ка разгадать</h1>
    <br>
    <h3>
      Пустой покой, а полные мы идем
    </h3>
    <p>
      Поговорка была переведена на Индонезийский, Персидский, Боснийский, языки
    </p>
    <p>
      И получилась следующая цепочка переводов Yang kosong beristirahat, sedangkan yang penuh kita berjalan, آنهایی که خالی هستند استراحت می کنند، در حالی که پرها ما راه می رویم, Prazni odmaraju, a puni hodamo, Пустой покой, а полные мы идем,
    </p>
    <p>
      А сама загадка изначально выглядит так: Пустые отдыхаем, А полные шагаем. Правильный ответ: Ботинок
    </p>
    <div>
      <a href="{% url 'riddles_page:riddles' %}"><p style="border: 2px black solid"> Еще одну! </p></a>
    </div>
  </body>
</html>